torch>=2.0
torchvision
torchmetrics
numpy
PyYAML
easydict
opencv-python
Pillow
scikit-learn
scikit-image
imgaug
tabulate
kornia
matplotlib
timm>=1.0.22
transformers>=4.57,<5
pandas
scipy
tqdm
